################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.pubxml
/SQLSMS/SQLSMS.dbmdl
/SQLSMS/SQLSMS.jfm
/diya
